*.o
*/TestDB/*
*/last-merge-batches
*/lastex
*/lastal
*/lastdb
*/last-split

*/out*
*.faa
*.txt
*/FGS+

*/flash

# R files
r_analysis/.Rhistory
r_analysis/.DS_Store
r_analysis/.RData
r_analysis/.Rhistory
r_analysis/.rproj.user